<div class="card text-center">
    <div class="card-header">
        <button class=" float-left btn btn-custom mr-4" (click)="open(mymodal)"><span class="fa fa-plus"></span></button>
        <h3 class="float-left">Fournisseur</h3>

    </div>
    <div class="card-body">

        <table class="table table-hover">
            <thead class="thead-custom">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Prenom</th>
                    <th scope="col">Email</th>
                    <th scope="col">Adresse</th>
                    <th scope="col">Tel</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let p of providors; index as i">
                    <td> {{i}}</td>
                    <td> {{p.firstName}}</td>
                    <td> {{p.lastName}}</td>
                    <td> {{p.email}}</td>
                    <td> {{p.address}}</td>
                    <td> {{p.phone}}</td>
                    <td>
                        <a (click)="openConfirm(confirmModal,p)"><span class="fa fa-trash"></span></a>
                        <a (click)="openWithEntity(mymodal,p)" class="ml-2"><span class="fa fa-edit"></span></a>

                    </td>

                </tr>

            </tbody>
        </table>


    </div>
    <div class="card-footer">
        <nav class="float-right">
            <ul *ngIf="pages?.length > 1" class="pagination">



                <li class="page-item">
                    <a (click)="paginate(currentPage-1,size)" class="page-link" tabindex="-1">Previous</a>
                </li>
                <li *ngFor="let p  of  pages; index as i" class="page-item" [ngClass]="i==currentPage?'active': ''">
                    <a (click)="paginate(i,size)" class="page-link">{{i+1}}</a></li>

                <li class="page-item">
                    <a (click)="paginate(currentPage+1,size)" class="page-link">Next</a>
                </li>



            </ul>
        </nav>
    </div>
</div>

<ng-template #mymodal let-modal>
    <form [formGroup]="providorForm" (ngSubmit)="onSubmit()">

        <div class="modal-header thead-custom">
            <h4 class="modal-title" id="modal-basic-title">{{ modalTitle }}</h4>
            <a class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">×</span>
            </a>
        </div>
        <div class="modal-body">

            <div class="form-group">
                <label for="exampleFormControlInput1">Nom</label>
                <input type="text" class="form-control" formControlName="firstName" placeholder="Nom" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }">
                <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                    <div *ngIf="f.firstName.errors.required"> * Nom est obligatoire</div>
                </div>
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1">Prenom</label>
                <input type="text" class="form-control" formControlName="lastName" placeholder="Prenom" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }">
                <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                    <div *ngIf="f.lastName.errors.required"> * Prenom est obligatoire</div>
                </div>
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1">Email</label>
                <input type="text" class="form-control" formControlName="email" placeholder="Email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required"> * Email est obligatoire</div>
                </div>
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1">Adresse</label>
                <input type="text" class="form-control" formControlName="address" placeholder="Adresse" [ngClass]="{ 'is-invalid': submitted && f.address.errors }">
                <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
                    <div *ngIf="f.address.errors.required"> * Adresse est obligatoire</div>
                </div>
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1">Tel</label>
                <input type="text" class="form-control" formControlName="phone" placeholder="Tel" [ngClass]="{ 'is-invalid': submitted && f.phone.errors }">
                <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
                    <div *ngIf="f.phone.errors.required"> * Tel est obligatoire</div>
                </div>
            </div>



        </div>

        <div class="modal-footer ">
            <button type="button " class="btn btn-custom " (click)="modal.close( 'close click') "><span class="fa fa-times"></span></button>
            <button type="submit " class="btn btn-custom "><span class="fa fa-check"></span></button>
        </div>
    </form>
</ng-template>

<ng-template #confirmModal let-modal>

    <form [formGroup]="providorForm" (ngSubmit)="onSubmit()">

        <div class="modal-header thead-custom ">
            <h4 class="modal-title" id="modal-basic-title">{{ modalTitle }}</h4>
            <a class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">×</span>
            </a>

        </div>

        <div class="modal-body">
            Vous etes sur de vouloir supprimer le fournisseur <span class="text-primary text-bold"> " {{ providor.firstName + providor.lastName }} "</span> ?
        </div>

        <div class="modal-footer ">
            <button type="button " class="btn btn-custom " (click)="modal.close( 'close click') "><span class="fa fa-times"></span></button>
            <button type="submit " class="btn btn-custom "><span class="fa fa-check"></span></button>
        </div>

    </form>

</ng-template>